<div class="container">
  <div class="row col-5">
    <p-card>
      <h5>Bank Detials</h5>
      <form [formGroup]="bankDetails">
        <div class=" mt-2 row">
          <div class="col-3">
            <label>Bank Name:</label>
            </div>
          <div class=" col-7">
        <input formControlName="bankName" id="bank" pattern="[A-Z]{4,}$" pInputText type="text"/>
        <div class="text-danger" *ngIf="bankDetails.get('bankName')?.invalid && bankDetails.get('bankName')?.touched">
          <small *ngIf="bankDetails.get('bankName')?.errors?.['required']"> Bank Name is Required</small>
          <small *ngIf="bankDetails.get('bankName')?.errors?.['pattern']">Bank name should be in UPPER CASE</small>
        </div>
        </div>
        </div>
        <div class="row mt-2">
          <div class="col-3">
         <label>IFSC CODE:</label>
          </div>
          <div class="col-7">
        <input formControlName="ifscCode" id="ifscCode" pattern="^[A-Z]{4}[0-9]{7}$" pInputText type="text"/>
        <div class="text-danger" *ngIf="bankDetails.get('ifscCode')?.invalid && bankDetails.get('ifscCode')?.touched">
          <small *ngIf="bankDetails.get('ifscCode')?.errors?.['required']"> IFSC Code is Required</small>
          <small *ngIf="bankDetails.get('ifscCode')?.errors?.['pattern']">IFSC Code should be in this format "ABCD0123456"</small>
        </div>
          </div>
        </div>
        <br>
        <p-button (onClick)="bankDetailsSubmit()" [disabled]="bankDetails.invalid">Submit</p-button>&nbsp;&nbsp;
      </form>
    </p-card>
  </div>
</div>


